@model Paginacion<Modelos_Crud_Proyecto.Models.Asignacion>

@{
    ViewData["Title"] = "Asignaciones";
}

<h1>Asignaciones</h1>
<div id="mostarModalAqui"></div>
<p>
    <button type="button" class="btn btn-primary" data-toggle="ajax-modal" data-target="#nuevaAsignacion" data-url="@Url.Action("Create")"> Nueva Asignacion</button>
</p>
<form asp-action="Index" method="get">
    <p>
        Filtro : <input type="text" name="buscarTexto" value="@ViewData["Filtro"]" />
        <input type="submit" value="Buscar" class="btn btn-default" />
        <a asp-action="Index">Todos los Registros </a> | Registros mostrados : @Model.TotalR
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-ordenar="@ViewData["NombreCurso"]" asp-route-filtrar="@ViewData["Filtro"]">Nombre Curso</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-ordenar="@ViewData["InstructorEspecial"]" asp-route-filtrar="@ViewData["Filtro"]">Especialidad Instructor</a>
            </th>
            <th>
                Fecha Creacion
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.curso.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.instructor.Especialidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    <button type="button" class="btn btn-success" data-toggle="ajax-modal" data-target="#editarAsignacion" data-url="@Url.Action($"Edit/{item.AsignacionID}")">Editar</button> |
                    <button type="button" class="btn btn-secondary" data-toggle="ajax-modal" data-target="#VerAsignacion" data-url="@Url.Action($"Details/{item.AsignacionID}")">Detalles</button> |
                    <button type="button" class="btn btn-danger" data-toggle="ajax-modal" data-target="#quitarAsignacion" data-url="@Url.Action($"Delete/{item.AsignacionID}")">Eliminar</button>
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var prevDesabilitado = !Model.PreviaPag ? "disabled" : "";
    var nextDesabilitado = !Model.SiguientePag ? "disabled" : "";
}
<a asp-action="Index"
   asp-route-ordenar="@ViewData["ordenarFiltro"]"
   asp-route-pag="@(Model.Indice -1)"
   asp-route-filtrar="@ViewData["Filtro"]"
   class="btn btn-default @prevDesabilitado">
    Anterior
</a>
@for (int i = 1; i <= Model.TotalP; i++)
{
    <a asp-action="Index"
       asp-route-ordenar="@ViewData["ordenarFiltro"]"
       asp-route-pag="@i"
       asp-route-filtrar="@ViewData["Filtro"]"
       class="btn btn-default">
        @i
    </a>
}
<a asp-action="Index"
   asp-route-ordenar="@ViewData["ordenarFiltro"]"
   asp-route-pag="@(Model.Indice +1)"
   asp-route-filtrar="@ViewData["Filtro"]"
   class="btn btn-default @nextDesabilitado">
    Siguiente
</a>